<div>
  <%= if @views == [] do %>
    Waiting for a LiveView to mount...
  <% end %>

  <%= for view <- live_views(@views) do %>
    <.live_component module={SourceNode} id={source_slug(view)} views={@views} view={view} expanded?={true} />
  <% end %>
</div>
