<div>
  <%= if @views == [] do %>
    Waiting for a LiveView to mount...
  <% end %>

  <form phx-change="change">
    <select id="view-select" name="view-select">
      <%= for view <- @views do %>
        <option id={view.id} value={view.id}><%= source_name(view) %></option>
      <% end %>
    </select>
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Blur the <select> because LiveView won't update it when focused
      const viewSelect = document.getElementById('view-select');
      viewSelect.addEventListener('focus', function() {
        viewSelect.blur();
      });
    });
  </script>
</div>
