<div id={@id}>
  <div>
    <button phx-click="toggle-expanded" phx-target={@myself}>
      <%= if @expanded?, do: "[-]", else: "[+]" %>
    </button>
    <button phx-click="select-source" phx-value-source-slug={@id}>
      <%= module_name(@view.module) %>
    </button>
    <span><%= inspect(@view.pid) %></span>
  </div>
  <%= if @expanded? do %>
    <div>
      <%= for child_view <- child_views(@views, @view) do %>
        <div>
          <.live_component module={__MODULE__} id={source_slug(child_view)} views={@views} view={child_view} />
        </div>
      <% end %>
    </div>
  <% end %>
</div>
